<!DOCTYPE html>
<html>
<head>
	<title>Belajar Membuat Aplikasi Web Python</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
	<div id="container">
        <a href="{{url_for('index2', filename='index2.html')}}"><img src="{{ url_for('static',filename='img/logo.png')}}" id="logo" width="300px"/></a>
        <p>{{ kalimat }}</p>
        <h1>{{kalimat[0][0]}}</h1>
        <table border=2>
            <th>No</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Id Departemen</th>
            <th>Departemen</th>
            <th>Salary</th>
        {% for item in kalimat %}
            <tr>
                <td><a href="{{ item }}">{{ item[0] }}</a></td>
                <td><a href="{{ item }}">{{ item[1] }}</a></td>
                <td><a href="{{ item }}">{{ item[2] }}</a></td>
                <td><a href="{{ item }}">{{ item[3] }}</a></td>
                <td><a href="{{ item }}">{{ item[4] }}</a></td>
                <td><a href="{{ item }}">{{ item[5] }}</a></td>
            </tr>
            {% endfor %}
        </table>
	</div>
</body>
</html>