<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{sukses}}
    <form action="" method="post">
        <table>
            <tr>
                <td>nim mahasiswa
                <input type="text" name="nim_mahasiswa"></input>
                </td>
            </tr>
            <tr>
                <td>nama mahasiswa
                <input type="text" name="nama_mahasiswa"></input>
                </td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>